.face {
    background: #666666;
    /* clear: both; */
    text-align: center;
}

.particles-js-canvas-el {
    position: absolute;
}

.intro {
    /* background-color: #0798ec; */
    background-color: black;
    color: white;
}

.demo {
    background-color: orange;
    color: white;
}

.ui.header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 45px;
    color: white;
}

body {
    background: #f5f7fa;
    color: white;
}

.ui.vertical.stripe.intro.segment {
    background: #f5f7fa;
}

.row {
    padding-top: 120px;
    padding-bottom: 50px;
}

.following.bar>.menu .item {
    transition: all 0.5s ease;
}

.following.bar {
    position: fixed;
    top: 0px;
    z-index: 900;
    left: 0%;
    padding: 0.7em 0em;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    /* border-bottom: 1px solid transparent; */
    transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
    /* height: 90px; */
    transition: all 0.5s ease;
    /* background-color: #666666 */
}

.light.fixed {
    background-color: #666666;
}

.model-demo {
    margin: 0 auto;
}

.model-demo canvas {
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.model-demo .headline {
    text-align: center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}