:root {}

.face {
    background: #666666;
    /* clear: both; */
    text-align: center;
}

.particles-js-canvas-el {
    position: absolute;
}

.intro {
    /* background-color: #0798ec; */
    background-color: black;
    color: white;
}

.demo {
    background-color: orange;
    color: white;
}

.ui.header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 45px;
    color: white;
}

body {
    background: #f5f7fa;
    color: white;
}

.ui.vertical.stripe.intro.segment {
    background: #f5f7fa;
}

.row {
    padding-top: 120px;
    padding-bottom: 50px;
}

.following.bar>.menu .item {
    transition: all 0.5s ease;
}

.following.bar {
    position: fixed;
    top: 0px;
    z-index: 900;
    left: 0%;
    padding: 0.7em 0em;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    /* border-bottom: 1px solid transparent; */
    transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
    /* height: 90px; */
    transition: all 0.5s ease;
    /* background-color: #666666 */
}

.light.fixed {
    background-color: #666666;
}

.model-demo {
    /* margin: 0 auto; */
    flex: 6;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.model-demo canvas {
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.model-demo .headline {
    text-align: center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: block;
}

@media screen and (max-width: 1000px) {
    #inner-flex-container {
        flex-direction: column;
    }
    .model-demo {
        margin-top: 40px;
    }
}

.section .header {
    text-align: center;
}

.monaco-editor {
    border-radius: .28571429rem;
    ;
}

#editor .overflow-guard {
    border-radius: .28571429rem;
    ;
}

.title {
    line-height: 1.4;
}

.title .major {
    font-size: 1.75em;
    font-weight: bold;
}

.title .sub {
    font-size: 0.75em;
}

#editor {
    height: 600px;
}

/* #player-canvas {
    height: 400;
    width: 400;
}
#block-canvas {
    height: 400;
    width: 400;
} */

@media only screen and (max-height: 900px) {
    #editor {
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .item.org {
        display: none !important;
    }
    .title {
        line-height: 1.4;
    }
    .title .major {
        font-size: 1.25em;
        font-weight: bold;
    }
    .title .sub {
        margin-top: 50px;
        font-size: 0.55em;
    }
}

.ui.dropdown .menu>.item {
    min-height: unset;
}