name: Build

on:
  push:
    branches: 
      - master
    paths:
      - 'packages/*/*.ts'
      - 'packages/*/package.json'
      - 'pnpm-lock.yaml'
      - '.github/**'

jobs:
  automation:
    runs-on: ubuntu-latest

    if: ${{ !startsWith(github.event.head_commit.message, 'chore(release)') }}

    strategy:
      matrix:
        node-version: [16]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 7.15.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - uses: actions/setup-java@v1
      with:
        java-version: '12.X'
        architecture: x64
    - name: Install
      run: |
        pnpm install
      env:
        CI: true
    - name: Lint
      run: |
        pnpm lint
    - name: Test
      run: |
        pnpm coverage
    - name: Build
      run: |
        pnpm --parallel build:type
        pnpm --parallel build:cjs
        pnpm --parallel build:ems
    - name: Prepare Pull Request
      id: vars
      uses: ./.github/actions/prepare-pr
      env:
        CI: true
    - name: Update lock file
      run: |
        pnpm install --frozen-lockfile=false
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        assignees: ci010
        reviewers: ci010
        branch: prepare-release
        title: ${{ steps.vars.outputs.title }}
        body: ${{ steps.vars.outputs.body }}
        commit-message: ${{ steps.vars.outputs.message }}
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload Coverage
      uses: actions/upload-artifact@master
      with:
        name: coverage
        path: coverage


