name: Deploy Github Pages

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
  workflow_dispatch:

jobs:
  page-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16]

    steps:
    - uses: actions/checkout@v3
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 7.15.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - name: Install
      run: |
        pnpm install
      env:
        CI: true
    - name: Build Docs
      working-directory: "./docs"
      run: |
        npm run build:docs
    - name: Deploy to Github Pages
      uses: crazy-max/ghaction-github-pages@v1
      with:
        target_branch: gh-pages
        build_dir: docs/
      env:
        GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
