name: Release

on:
  pull_request:
    types: [closed] 
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest

    if: github.event.pull_request.merged && github.head_ref == 'prepare-release' && github.event.pull_request.user.login == 'github-actions[bot]'

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.sha	}}
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 7.15.0
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16
        registry-url: 'https://registry.npmjs.org'
    - name: Install
      run: |
        pnpm install
      env:
        CI: true
    - name: Build
      run: |
        pnpm --parallel build:type
        pnpm --parallel build:cjs
        pnpm --parallel build:ems
    - name: Publish
      run: |
        pnpm -r publish --access public
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
    - name: Publish Tag
      run: |
        node --eval "console.log(JSON.parse(require('fs').readFileSync('package.json').toString()).version)" > tag.log
        git remote set-url origin "https://x-access-token:${GITHUB_TOKEN}@github.com/voxelum/minecraft-launcher-core-node.git"
        git config user.name ci010
        git config user.email cijhn@hotmail.com
        git tag -f $(cat tag.log)
        git push origin tag $(cat tag.log) -f
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
