name: Pull Request Test

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20]

    steps:
    - uses: actions/checkout@v2
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 8.2.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - uses: actions/setup-java@v1
      with:
        java-version: '12.X'
        architecture: x64
    - name: Install
      run: |
        pnpm i
      env:
        CI: true
    - name: Lint and Compile
      run: |
        pnpm lint
        pnpm --parallel build:type
    - name: Test
      run: |
        pnpm coverage
      env:
        CI: true
    - name: Upload Coverage
      uses: actions/upload-artifact@master
      with:
        name: coverage
        path: coverage

